<div style="font-family: Arial,sans-serif;text-align: center;">
    <div style="height: 20px;display: flex;justify-content: space-between;border-bottom: 1px dotted black;">
        <span style="font-size: medium;"><i><%=docName%></i></span>
        <span>Reg : <%=regNo%></span>
    </div>
    <div style="height: 65px;display: flex; justify-content: space-between;">
        <div style="justify-content: left;">
            <img style="height: 100px;" src="<%=logo%>" alt="CJNH Logo">
        </div>
        <span style="margin-top: 1.5%;font-size: 26px;font-weight: bolder;"><%=HospitalName%></span>
        <img style="height: 50px; padding: 5px;" src="/images/doctorLogo.jpg" alt="Doctor-Logo">
    </div>
    <div style="height: 25px;font-style: 18px;font-weight: bold;">
        <label class="sub-heading">Mobile : <%=hospitalMobile%>, <%=doctorMobile%></label><br/>
        <label class="sub-heading"><%=HospitalAddress2%></label>
    </div>
</div>
