<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/consent.css">
    <title>Consent</title>
</head>
<body>
    <div class="main-body">
        <div>
            <%-include('_pdfHeader')%>
        </div>
        <div style="text-align: center;margin-top: 35px;">
            <label style="font-weight: bold;font-size: 23px;">INFORMED CONSENT</label>
            <br>
            <label style="font-weight: bold;font-size: 23px;">जानकारी एवं सहमति</label>
        </div>
        <div>
            <p>
                मैं &nbsp;<%=visit.Patient.Name%> , उम्र <%=visit.Patient.Age%> वर्ष , लिंग <%=visit.Patient.Gender%> पुत्र / पुत्री / पत्नी निवासी <%=visit.Patient.Address%>। मैं अपनी स्वेच्छा से शल्य चिकित्सा करने की सहमति देता हूं कि डॉ <input type="text" value="विनोद कुकरेजा "> अपने तहत चेतना शून्य करके शल्य चिकित्सा करके रोगी का इलाज करे
            </p>
            <p>
                इस शल्य चिकित्सा क्रिया व चेतना शून्य करके व इससे जुड़ी सभी संभावनाएं जैसे कि मृत्यु विकलांगता के बारे में मुझे पूर्ण रूप से अपनी समझ आने वाली भाषा में बता दिया गया है
            </p>
            <p>
                और शल्य चिकित्सा व चेतना शून्य करने के बाद किसी भी तरह की जिम्मेदारी नहीं ली गई है
            </p>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>
</html>